<p id="notice"><%= notice %></p>

<h1>Stu Has Deps</h1>

<table class="table">
  <thead>
    <tr>
      <th>Department</th>
      <th>Studentt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stu_has_deps.each do |stu_has_dep| %>
      <tr>
        <td><%= stu_has_dep.department %></td>
        <td><%= stu_has_dep.studentt %></td>
        <td><%= link_to 'Show', stu_has_dep %></td>
        <td><%= link_to 'Edit', edit_stu_has_dep_path(stu_has_dep) %></td>
        <td><%= link_to 'Destroy', stu_has_dep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stu Has Dep', new_stu_has_dep_path %>
