<p id="notice"><%= notice %></p>

<p>
  <strong>St name:</strong>
  <%= @studentt.st_name %>
</p>

<p>
  <strong>F name:</strong>
  <%= @studentt.F_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @studentt.Address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @studentt.Gender %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @studentt.Cell %>
</p>

<p>
  <strong>Local domicail:</strong>
  <%= @studentt.Local_domicail %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @studentt.Nationality %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @studentt.CNIC %>
</p>

<p>
  <strong>Session:</strong>
  <%= @studentt.session %>
</p>

<%= link_to 'Edit', edit_studentt_path(@studentt) %> |
<%= link_to 'Back', studentts_path %>
