<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">

  <div class="field">
    <%= f.label :Course_Name %>
    <%= f.text_field :Course_Name, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :Course_Duration %>
    <%= f.text_field :Course_Duration, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
