  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
  
	<ul class="nav nav-tabs">
<li><%= link_to "Home","http://localhost:3000/" %></li>
				
<li><%= link_to "Student","http://localhost:3000/studentts" %></li>
		<li><%= link_to "Payment","http://localhost:3000/paymentts" %></li>
		<li><%= link_to "Course","http://localhost:3000/courses" %></li>
		<li><%= link_to "Instructor","http://localhost:3000/instructors" %></li>
		<li><%= link_to "Department","http://localhost:3000/departments" %></li>
		<li><%= link_to "Session","http://localhost:3000/sessions" %></li>
		<li><%= link_to "Discount","http://localhost:3000/discounts" %></li>
		<li><%= link_to "Cheque","http://localhost:3000/cheques" %></li>

		<li><%= link_to "Teaches","http://localhost:3000/teaches" %></li>
		<li><%= link_to "Takes","http://localhost:3000/takes" %></li>
        </ul>
	</nav>	
	</div>
	</header>
